name: CI
on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        goversion:
          - 1.12
          - 1.13
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.goversion }}
        id: go

      - name: Set up Docker
        run: echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u toshi0607 --password-stdin

      - name: Set up Kubernetes cluste with kind
        uses: engineerd/setup-kind@v0.1.0

      - name: Check out code
        uses: actions/checkout@v1

      - name: e2e test
        run: |
          export KUBECONFIG="$(kind get kubeconfig-path)"
          make test_e2e
        env:
          JCTL_DOCKER_REPO: toshi0607
