name: CI
on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        go: [ '1.15', '1.16' ]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goversion }}
        id: go

      - name: Set up Docker
        run: echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u toshi0607 --password-stdin

      - name: Set up Kubernetes cluster with kind
        uses: engineerd/setup-kind@v0.5.0

      - name: Check out code
        uses: actions/checkout@v2

      - name: e2e test
        run: |
          echo "environment-kubeconfig:" ${KUBECONFIG}
          kind export kubeconfig 
          echo "environment-kubeconfig:" ${KUBECONFIG}
          make test_e2e
        env:
          JCTL_DOCKER_REPO: toshi0607
